.isMale {
    --color-theme-border: var(--color-boy-blue-border);
    --color-theme-text: var(--color-boy-blue-text);
    --color-theme-background: var(--color-boy-background);
}

.checkbox-container {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    margin-right: 30px;
    background-color: var(--color-theme-background);
    user-select: none;
    border-radius: 100vw;
    border: 2px var(--color-theme-border) solid;
    top: 6px;
}


.checkbox-input {
    position: absolute;
    cursor: pointer;
    visibility: hidden;
}

.checkbox-input::before{
    content: "";
    position: absolute;
    visibility: visible;
    margin: auto;
    inset: 0;
    width: 25px;
    height: 25px;
    background-color: var(--color-theme-text);
    overflow: hidden;
    border-radius: 100vw;
    border: 2px solid var(--color-theme-border);
    left: -40px;
    top: -12px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.checkbox-input:checked::before {
    transform: translateX(28px);
    background-color: var(--color-theme-text);
}




