.isMale {
    --color-theme-border: var(--color-boy-blue-border);
    --color-theme-text: var(--color-boy-blue-text);
}

.navbar {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

a.navbar-brand {
    width: 120px;
    margin: auto 20px auto 20px;
}

.signup {
    margin-right: 20px;
}

.nav-link {
    font-size: 24px;
    position: relative;
}

.navable::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: var(--color-theme-border);
    position: absolute;
    bottom: 0;
    left: 0;
}

.navable:hover::after {
    opacity: 1;
}

.navable.active::after {
    opacity: 1;
}

.button {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    padding: 8px 15px;
    font-weight: 500;
    background-color: transparent;
    border-radius: 100vw;
    border: 2px solid var(--color-theme-border);
    color: var(--color-theme-text);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button:hover {
    scale: 1.1;
    color: var(--color-theme-white);
    box-shadow: 0 0px 20px var(--color-theme-border);

}

.button:active{
    scale: 1;
}

.button-anim::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    scale: 0;
    background-color: var(--color-theme-border);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-anim:hover::before{
    scale: 2;
}

