<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" routerLink="/">
        <img src="../assets/img/brand.png" class="logo img-fluid">
    </a>

    <div class="navbar-nav">
        <a class="nav-item nav-link navable" routerLink="/home" routerLinkActive="active">Home</a>
    </div>

    <div class="navbar-nav ms-auto signup">
        <a class="nav-item nav-link" routerLink="/login">
            <button class="button">Login</button>
        </a>
        <a class="nav-item nav-link" routerLink="/signup">
            <button class="button">Register</button>
        </a>
    </div>

</nav>