<div class="container" [class.isMale]="isMale">
    <div class="card">
        <div class="card-body">

            <div>
                <img src="../assets/img/logo.png" class="img-fluid logo" width="200" heigth="200">
            </div>

            <form #f="ngForm" (ngSubmit)="debug(f)" >
            
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ngModel name="username" id="username" #firstName="ngModel" type="text" class="form-control">
                </div>
            
                <div class="form-group">
                    <label for="password">Password</label>
                    <input ngModel name="password" id="password" type="password" class="form-control">
                </div>
        
                <button type="submit" class="btn-form">Sign in</button>
            </form>

        </div>
    </div>
</div>
