/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

:root{
    --color-girl-pink-text: #F03582;
    --color-girl-pink-border: #c02361;
    --color-girl-background: #ffccdd;

    --color-boy-blue-text: #48B6DB;
    --color-boy-blue-border: #1B4E6D;
    --color-boy-background: #b7e8f7;

    --color-theme-background: #ffccdd;
    --color-theme-text: #F03582;
    --color-theme-border: #c02361;
    --color-theme-white: rgb(242, 214, 214);
}


