/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

:root{
    --color-girl-pink-text: #F03582;
    --color-girl-pink-border: #c02361;;
    --color-girl-white-text: rgb(242, 214, 214);
    --color-boy-blue-text: #48B6DB;
    --color-boy-blue-border: #1B4E6D;
}

body {
    background: linear-gradient(to bottom right, #ffffff 20%, #ffccdd);
    height: 100vh;
}

